header {
    border: 3px solid black;
    background-color: #2429ff;
    color:#ffd10A;
    text-align: center;
    padding: 2%;
    margin-bottom: 2%;
}

h1 {
    font-size: 3rem;
}

h2 {
    font-size: 2rem;
    font-style: italic;
}

table {
    width: 100%;
}

th, td {
    width: 20%;
    padding: 1%;
    margin: 1%;
}

.schedule {
    width: 85%;
    border: 1px solid black;
    padding: 1%;
    margin: 1% auto;
}

.field {
    width: 10%;
    margin: 0 1%;
}